/*estilologin*/

.login-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.862);
    text-align: center;
    width: 400px;
    margin: 0 auto;
}



.login-container img {
    width: 120px;
    height: 120px; 
    margin-bottom: auto;
}


.login-container h2 {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    color: #333;

}


.login-container p {
    color: #2a2a2a;
    margin-bottom: auto;
    text-align: center;
}
    .separator {
        border: none;
        height: 2px;
        background: linear-gradient(to right, #ccd2d367, #39d99c);
        width: 100%;
    }
.login-container .e-mail {
    width: auto; 
    padding: auto;
    margin:  10px auto;
    border-radius: 8px; 
    border: 5px solid #42a47e49; /* Cor suave para a borda */
    box-shadow: 0 2px 5px rgba(36, 35, 35, 0.1); /* Sombra suave para destacar os campos */
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin: 10px; 
}

.remember-me input {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    accent-color: #4121e5; /* Cor do checkbox */
}

.forgot-passaword {
    color: #2555ff;
    text-decoration: none;
    font-weight: bold;
    margin: 10px; 
}

.forgot-passaword:hover {
    text-decoration: underline;
}

/* Estilização do contêiner dos botões */
.button-1 {
    display: flex; /* Deixa os botões lado a lado */
    justify-content: space-between; /* Separa os botões */
    margin-top: 20px; /* Espaço superior */
}


/* Estilo geral dos botões */
.button-1 button {
    flex: center; /* Faz os botões ocuparem o mesmo espaço */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    font-weight:bold; /* Deixa o texto em negrito */
    border: none; /* Remove borda */
    border-radius: 20px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar */
    transition: 0.3s; /* Animação suave */
    margin:0px 15px 25px 15px;  /* Espaço entre os botões */
}

/* Estilo do botão "Entrar" */
.button-1 button[type="submit"] {
    background-color: #5f9ea0; /* Cor principal */
    color: white; /* Texto branco */
}

/* Estilo do botão "Cancelar" */
.button-1 button[type="reset"] {
    background-color: #d75b5b; /* Cor de alerta */
    color: white; /* Texto branco */
}

/* Efeito hover para ambos os botões */
.button-1 button:hover {
    opacity: 0.8; /* Suaviza a cor ao passar o mouse */
}
