/*estilo forgot_passaword*/
.forgot-password {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.862);
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.forgot-password img {
    width: 120px;
    height: 120px; 
    margin-bottom: 20px;
}

.forgot-password h2 {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.forgot-password p {
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.forgot-password .e-mail {
    width: auto;
    padding: 10px;
    margin: 15px auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(36, 35, 35, 0.1);
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password .e-mail:focus {
    border-color: #42a47e;
    box-shadow: 0 2px 5px rgba(36, 35, 35, 0.2);
}

/* Botões */
.forgot-password .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.forgot-password button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password .button-primary {
    background-color: #42a47e;
    color: #ffffff;
    width: auto;
    height: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

.forgot-password .button-primary:hover {
    background-color: #bac7c1;
    box-shadow: 0 2px 5px rgba(36, 35, 35, 0.2);

}

.forgot-password .button-secondary {
    background-color: #d9534f;
    color: #ffffff;
    width: auto;
    height: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }


.forgot-password .button-secondary:hover {
    background-color: #c9302c;
    box-shadow: 0 2px 5px rgba(36, 35, 35, 0.2);
}
